<div class="input-wrapper">
  <label>
    {{ this.label }} <span *ngIf="isRequired" class="required-star">*</span>
  </label>

  <input
    (blur)="onTouched()"
    (input)="onInput($event)"
    [attr.placeholder]="control?.value || ''"
    [attr.maxLength]="this.allowTypeInvalidValue ? null :this.getMaxLength()"
    [disabled]="isFormBound ? isDisabled : externalDisabled"
    [ngClass]="{ 'error': showError, 'readonly': isReadonly, 'disabled': isFormBound ? isDisabled : externalDisabled }"
    [readonly]="isReadonly"
    [value]="isFormBound ? value : externalValue"
    autocomplete="off"
    type="text"
  />

  <div *ngIf="isFormBound && (showError || (showCharCount && this.getMaxLength()))" class="input-extra-data">
    <div *ngIf="showError" class="error-message">
      {{ errorMessage }}
    </div>
  
    <div *ngIf="showCharCount && this.getMaxLength()" class="char-counter">
      {{ currentLength }} / {{ this.getMaxLength() }}
    </div>
  </div>
</div>
