div.input-wrapper div.select-container {
  width: 100%;
  position: relative;
  select {
    width: 100%;
    padding: 1rem 5rem 1rem 1rem;
  }
  /*To create Cross*/
  .clean-select-button {
    position: absolute;
    top: 0;
    right: 2.3rem;
    display: block;
    background-color: transparent;
    height: 100%;
    width: 2rem;
    cursor: pointer;
    &:hover {
      &::before,
      &::after {
        background-color: var(--form-control-focus-border-color);
      }
    }
    &::before,
    &::after {
      position: absolute;
      cursor: pointer;
      content: " ";
      height: 1.5rem;
      left: 50%;
      top: 25%;
      width: 2px;
      background-color: var(--form-control-border-color);
    }
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
  /*To create Triangle*/
  .custom-arrow {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    background-color: transparent;
    height: 100%;
    width: 3rem;
    pointer-events: none;
    &::before,
    &::after {
      --size-triangles: 0.5rem;
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    &::before {
      border-left: var(--size-triangles) solid transparent;
      border-right: var(--size-triangles) solid transparent;
      border-bottom: var(--size-triangles) solid var(--form-control-border-color);
      top: 35%;
    }
    &::after {
      border-left: var(--size-triangles) solid transparent;
      border-right: var(--size-triangles) solid transparent;
      border-top: var(--size-triangles) solid var(--form-control-border-color);
      top: 55%;
    }
  }
}
