div.input-wrapper{
  display: flex;
  flex-direction: column;
  gap:0.25rem;
  label{
    font-size: var(--form-control-font-size);
  }
  input, textarea{
    background-color:var(--form-control-bg-color);
    border-radius: 0.5em;
    border: solid 0.15rem var(--form-control-border-color);
    field-sizing: content;
    font-size: var(--form-control-font-size);
    outline: none;
    padding: 1rem;
    resize: none;
    max-height: 3rem;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
    &:focus{
      border: 0.15rem solid var(--form-control-focus-border-color)
    }
    &.disabled {
      background-color: var(--form-control-disabled-bg-color);
    }
    &.readonly{
      background-color: var(--form-control-readonly-bg-color);
    }
    &.error{
      border: 0.15rem solid var(--form-control-error-border-color);
    }
  }
  & div.input-extra-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0.15rem;
    font-size: 0.75rem;
    & div.error-message {
      color: var(--form-control-error-value-color);
      flex: 1 1 auto;
      margin-right: 0.5rem;
    }
    & div.char-counter {
      color: #666;
      white-space: nowrap;
      margin-left: auto;
    }
  }
}
