@import url("./global-controls-styles.css");

div.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  label {
    font-size: var(--form-control-font-size);
  }
  input:not([type="checkbox"]),
  textarea,
  select,
  section.dropdown {
    appearance: none;
    background-color: var(--form-control-bg-color);
    border-radius: var(--form-control-border-radius);
    border: solid var(--form-control-border-width) var(--form-control-border-color);
    field-sizing: content;
    font-size: var(--form-control-font-size);
    outline: none;
    padding: 1rem;
    position: relative;
    resize: none;
    max-height: 5rem;
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
    &:focus {
      border-color: var(--form-control-focus-border-color);
    }
    &.disabled {
      background-color: var(--form-control-disabled-bg-color);
      color: var(--form-control-disabled-color);
    }
    &.readonly {
      background-color: var(--form-control-readonly-bg-color);
    }
    &.error {
      border-color: var(--form-control-error-border-color);
    }
  }
  div.input-extra-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 0.15rem;
    font-size: 0.75rem;
    & div.error-message {
      color: var(--form-control-error-value-color);
      flex: 1 1 auto;
      margin-right: 0.5rem;
    }
    & div.char-counter {
      color: #666;
      white-space: nowrap;
      margin-left: auto;
    }
  }
}

/*To create Cross*/
.clean-select-button {
  position: absolute;
  top: 0;
  right: 2.3rem;
  display: block;
  background-color: transparent;
  height: 100%;
  width: 2rem;
  cursor: pointer;
  &:hover {
    &::before,
    &::after {
      background-color: var(--form-control-focus-border-color);
    }
  }
  &::before,
  &::after {
    position: absolute;
    cursor: pointer;
    content: " ";
    height: 1.5rem;
    left: 50%;
    top: 25%;
    width: 2px;
    background-color: var(--form-control-border-color);
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
/*To create Triangle*/
.custom-arrow {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  background-color: transparent;
  height: 100%;
  width: 3rem;
  pointer-events: none;
  &::before,
  &::after {
    --size-triangles: 0.5rem;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &::before {
    border-left: var(--size-triangles) solid transparent;
    border-right: var(--size-triangles) solid transparent;
    border-bottom: var(--size-triangles) solid var(--form-control-border-color);
    top: 35%;
  }
  &::after {
    border-left: var(--size-triangles) solid transparent;
    border-right: var(--size-triangles) solid transparent;
    border-top: var(--size-triangles) solid var(--form-control-border-color);
    top: 55%;
  }
}
