<main id="form-controls-section">
  <mat-accordion multi>
    <mat-expansion-panel id="input-text-section">
      <mat-expansion-panel-header><mat-panel-title> Input Text </mat-panel-title></mat-expansion-panel-header>
      <section id="form-controls">
        <form *ngIf="formText" [formGroup]="formText">
          <app-input-text formControlName="name" [label]="'Nombre max 10 no [maxlength] input'" [placeholder]="'Introduce tu nombre'" [showCharCount]="true" />
          <app-input-text formControlName="nameTwo" [label]="'Nombre max 10 with [maxlength] input'" [placeholder]="'Introduce tu nombre'" [maxlength]="10" [showCharCount]="true" />
          <app-input-text formControlName="nameAllowInvalid" [label]="'Nombre max 10 no [maxlength] input but Allow Invalid values'" [placeholder]="'Introduce tu nombre'" [showCharCount]="true" [allowTypeInvalidValue]="true" />
          <app-input-text formControlName="nameDisabled" [label]="'Nombre Disabled max 10'" [placeholder]="'Introduce tu nombre Disabled'" [maxlength]="10" />
          <app-input-text formControlName="nameReadonly" [label]="'Nombre Readonly max 10'" [placeholder]="'Introduce tu nombre Readonly'" [isReadonly]="true" [maxlength]="10" />
          <app-input-text formControlName="email" [label]="'Email'" [placeholder]="'Introduce tu mail'" [maxlength]="100" />
        </form>
      </section>

      <section id="no-form-controls">
        <app-input-text [label]="'Nombre no Form Disabled'" [placeholder]="'Nombre no Form'" [maxlength]="10" [externalDisabled]="true" [externalValue]="'Valor por Defecto'" />
        <app-input-text [label]="'Nombre no Form Readonly'" [placeholder]="'Nombre no Form'" [maxlength]="10" [isReadonly]="true" [externalValue]="'Valor por Defecto'" />
      </section>
    </mat-expansion-panel>

    <mat-expansion-panel id="input-number-section">
      <mat-expansion-panel-header><mat-panel-title> Input Number </mat-panel-title></mat-expansion-panel-header>
      <section id="form-controls">
        <form *ngIf="formNumber" [formGroup]="formNumber">
          <app-input-number formControlName="number" [label]="'Numero'" />
          <app-input-number formControlName="numberMax" [label]="'Numero max 120'" />
          <app-input-number formControlName="numberMin" [label]="'Numero min 10'" />
          <app-input-number formControlName="numberWith2Decimals" [label]="'Numero With 2 Decimals with [maxdecimals] input'" [maxdecimals]="2" />
          <app-input-number formControlName="numberWith2DecimalsNoInput" [label]="'Numero With 2 Decimals no [maxdecimals] input'" [maxdecimals]="2" />
          <app-input-number formControlName="numberDisabled" [label]="'Numero Disabled'" />
          <app-input-number formControlName="numberReadonly" [label]="'Numero Readonly'" [isReadonly]="true" />
          <app-input-number formControlName="percentage" [label]="'Porcentage'" [typeNumber]="'percentage'" />
        </form>
        <pre>{{ this.formNumber?.getRawValue() | json }}</pre>
      </section>

      <section id="no-form-controls">
        <app-input-number [label]="'Numero no Form Disabled'" [placeholder]="'Numero no Form Disabled'" [externalDisabled]="true" [externalValue]="33.3333" [maxdecimals]="4" />
        <app-input-number [label]="'Numero no Form Readonly'" [placeholder]="'Numero no Form Readonly'" [externalDisabled]="true" [externalValue]="11.4" [maxdecimals]="1" [isReadonly]="true" />
      </section>
    </mat-expansion-panel>

    <mat-expansion-panel id="select-section">
      <mat-expansion-panel-header><mat-panel-title> Select </mat-panel-title></mat-expansion-panel-header>
      <section id="form-controls">
        <form *ngIf="formSelect" [formGroup]="formSelect">
          <app-select formControlName="city" [label]="'Ciudad'" [placeholder]="'Select a city'" [options]="this.cities" />
          <app-select formControlName="citySelected" [label]="'Ciudad Selected'" [options]="this.cities" />
          <app-select formControlName="cityDisabled" [label]="'Ciudad Disabled'" [options]="this.cities" />
        </form>
        <pre>{{ this.formSelect?.getRawValue() | json }}</pre>
      </section>
    </mat-expansion-panel>

    <mat-expansion-panel id="raddio-button-section">
      <mat-expansion-panel-header><mat-panel-title> Raddio Button </mat-panel-title></mat-expansion-panel-header>
      <section id="form-controls">
        <form *ngIf="formRaddioButton" [formGroup]="formRaddioButton">
          <app-radio-button formControlName="genre" [label]="'Genres'" [options]="this.genres" />
          <app-radio-button formControlName="genreRequired" [label]="'Genres Required'" [options]="this.genres" />
          <app-radio-button formControlName="genreDisabled" [label]="'Genres Disabled '" [options]="this.genres" />
        </form>
        <pre>{{ this.formRaddioButton?.getRawValue() | json }}</pre>
      </section>
    </mat-expansion-panel>

    <mat-expansion-panel id="checkbox-section">
      <mat-expansion-panel-header><mat-panel-title> Checkbox </mat-panel-title></mat-expansion-panel-header>
      <section id="form-controls">
        <form *ngIf="formCheckBox" [formGroup]="formCheckBox">
          <app-checkbox formControlName="isSpanish" [label]="'Is Spanish?'" />
          <app-checkbox formControlName="isSpanishRequired" [label]="'Is Spanish Required?'" />
          <app-checkbox formControlName="isSpanishDisabled" [label]="'Is Spanish Disabled?'" />
        </form>
        <pre>{{ this.formCheckBox?.getRawValue() | json }}</pre>
      </section>
    </mat-expansion-panel>

    <mat-expansion-panel id="input-date-section">
      <mat-expansion-panel-header><mat-panel-title> Date </mat-panel-title></mat-expansion-panel-header>
      <section id="form-controls">
        <form *ngIf="formDate" [formGroup]="formDate">
          <app-input-date formControlName="bd" [label]="'Birthday'" />
          <app-input-date formControlName="bdRequired" [label]="'Birthday Required?'" />
          <app-input-date formControlName="bdDisabled" [label]="'Birthday Disabled?'" />
          <app-input-date formControlName="bdRange" [type]="'range'" [label]="'Birthday Range'" />
        </form>
        <pre>{{ this.formDate?.getRawValue() | json }}</pre>
      </section>
    </mat-expansion-panel>

    <mat-expansion-panel id="textarea-section">
      <mat-expansion-panel-header><mat-panel-title> Text Area </mat-panel-title></mat-expansion-panel-header>
      <section id="form-controls">
        <form *ngIf="formTextarea" [formGroup]="formTextarea">
          <app-textarea formControlName="random" [label]="'Random'" />
          <app-textarea formControlName="randomRequired" [label]="'Random Required?'" />
          <app-textarea formControlName="randomDisabled" [label]="'Random Disabled?'" />
        </form>
        <pre>{{ this.formTextarea?.getRawValue() | json }}</pre>
      </section>
    </mat-expansion-panel>
  </mat-accordion>
</main>
